AutoGen/.venv/
AutoGen/workfiles/Начальные/
AutoGen/__pycache__/
AutoGen/Generated
AutoGen/token.json
Spotify external downloader/.venv
Spotify external downloader/output
Spotify external downloader/Spotify Account Data